# Dependencies
node_modules/
.pnpm-store/

# Build Output
dist/
dist-ssr/
*.local

# System & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.local
.env.*.local
